/*bens variables*/
/*bens-mixins*/
@-webkit-keyframes bounceInUp {
  /* line 195, ../scss/demo.scss */
  /* line 201, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
  }

  /* line 200, ../scss/demo.scss */
  /* line 203, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  /* line 205, ../scss/demo.scss */
  /* line 205, ../sass/_custom.scss */
  80% {
    -webkit-transform: translateY(10px);
  }

  /* line 209, ../scss/demo.scss */
  /* line 207, ../sass/_custom.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  /* line 214, ../scss/demo.scss */
  /* line 210, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(400px);
  }

  /* line 219, ../scss/demo.scss */
  /* line 212, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  /* line 224, ../scss/demo.scss */
  /* line 214, ../sass/_custom.scss */
  80% {
    -moz-transform: translateY(10px);
  }

  /* line 228, ../scss/demo.scss */
  /* line 216, ../sass/_custom.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInUp {
  /* line 234, ../scss/demo.scss */
  /* line 219, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(400px);
  }

  /* line 239, ../scss/demo.scss */
  /* line 221, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(-20px);
  }

  /* line 244, ../scss/demo.scss */
  /* line 223, ../sass/_custom.scss */
  80% {
    -o-transform: translateY(10px);
  }

  /* line 248, ../scss/demo.scss */
  /* line 225, ../sass/_custom.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  /* line 254, ../scss/demo.scss */
  /* line 228, ../sass/_custom.scss */
  0% {
    opacity: 0;
    transform: translateY(400px);
  }

  /* line 259, ../scss/demo.scss */
  /* line 230, ../sass/_custom.scss */
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }

  /* line 264, ../scss/demo.scss */
  /* line 232, ../sass/_custom.scss */
  80% {
    transform: translateY(10px);
  }

  /* line 268, ../scss/demo.scss */
  /* line 234, ../sass/_custom.scss */
  100% {
    transform: translateY(0);
  }
}

/*
 * Target IE 6, 7 and 8 (less than IE9)
 */
/*
 * Assuming a mobile first approach with respond.js OFF, we must reset the font
 * size for lt IE9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/lt-ie9\.scss}line{font-family:\0000313}}
html {
  font-size: 81.3%;
}
