/*bens variables*/
/*bens-mixins*/
@-webkit-keyframes bounceInUp {
  /* line 195, ../scss/demo.scss */
  /* line 204, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
  }

  /* line 200, ../scss/demo.scss */
  /* line 206, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  /* line 205, ../scss/demo.scss */
  /* line 208, ../sass/_custom.scss */
  80% {
    -webkit-transform: translateY(10px);
  }

  /* line 209, ../scss/demo.scss */
  /* line 210, ../sass/_custom.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  /* line 214, ../scss/demo.scss */
  /* line 213, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(400px);
  }

  /* line 219, ../scss/demo.scss */
  /* line 215, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  /* line 224, ../scss/demo.scss */
  /* line 217, ../sass/_custom.scss */
  80% {
    -moz-transform: translateY(10px);
  }

  /* line 228, ../scss/demo.scss */
  /* line 219, ../sass/_custom.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInUp {
  /* line 234, ../scss/demo.scss */
  /* line 222, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(400px);
  }

  /* line 239, ../scss/demo.scss */
  /* line 224, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(-20px);
  }

  /* line 244, ../scss/demo.scss */
  /* line 226, ../sass/_custom.scss */
  80% {
    -o-transform: translateY(10px);
  }

  /* line 248, ../scss/demo.scss */
  /* line 228, ../sass/_custom.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  /* line 254, ../scss/demo.scss */
  /* line 231, ../sass/_custom.scss */
  0% {
    opacity: 0;
    transform: translateY(400px);
  }

  /* line 259, ../scss/demo.scss */
  /* line 233, ../sass/_custom.scss */
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }

  /* line 264, ../scss/demo.scss */
  /* line 235, ../sass/_custom.scss */
  80% {
    transform: translateY(10px);
  }

  /* line 268, ../scss/demo.scss */
  /* line 237, ../sass/_custom.scss */
  100% {
    transform: translateY(0);
  }
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000317}}
.no-sidebars .container {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000319}}
.no-sidebars .container #header {
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000322}}
.no-sidebars .container #columns {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000330}}
#menu-bar #block-superfish-1 {
  font-size: 1.2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000334}}
.sidebar .region-inner .block {
  padding: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000336}}
#main-content {
  margin-left: .5em;
  margin-right: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000340}}
.region-sidebar-first .region-inner {
  margin-left: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.landscape\.scss}line{font-family:\0000343}}
.region-sidebar-second .region-inner {
  margin-right: .5em;
}
