/*bens variables*/
/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000321}}
#header .inner {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000325}}
.region-sidebar-first .region-inner {
  margin: 0 0.5em 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000328}}
.region-sidebar-second .region-inner {
  margin: 0 1em 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000331}}
.region-sidebar-second .block {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000334}}
#content-column {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000336}}
#content-column .content-inner {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000342}}
.region-sidebar-first, .region-sidebar-second {
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000345}}
footer {
  padding: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000349}}
#menu-bar #block-superfish-1 {
  font-size: 1.2em;
}
