/*bens variables*/
/*bens-mixins*/
@-webkit-keyframes bounceInUp {
  /* line 195, ../scss/demo.scss */
  /* line 199, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(400px);
  }

  /* line 200, ../scss/demo.scss */
  /* line 201, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(-20px);
  }

  /* line 205, ../scss/demo.scss */
  /* line 203, ../sass/_custom.scss */
  80% {
    -webkit-transform: translateY(10px);
  }

  /* line 209, ../scss/demo.scss */
  /* line 205, ../sass/_custom.scss */
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  /* line 214, ../scss/demo.scss */
  /* line 208, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(400px);
  }

  /* line 219, ../scss/demo.scss */
  /* line 210, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(-20px);
  }

  /* line 224, ../scss/demo.scss */
  /* line 212, ../sass/_custom.scss */
  80% {
    -moz-transform: translateY(10px);
  }

  /* line 228, ../scss/demo.scss */
  /* line 214, ../sass/_custom.scss */
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInUp {
  /* line 234, ../scss/demo.scss */
  /* line 217, ../sass/_custom.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(400px);
  }

  /* line 239, ../scss/demo.scss */
  /* line 219, ../sass/_custom.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(-20px);
  }

  /* line 244, ../scss/demo.scss */
  /* line 221, ../sass/_custom.scss */
  80% {
    -o-transform: translateY(10px);
  }

  /* line 248, ../scss/demo.scss */
  /* line 223, ../sass/_custom.scss */
  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  /* line 254, ../scss/demo.scss */
  /* line 226, ../sass/_custom.scss */
  0% {
    opacity: 0;
    transform: translateY(400px);
  }

  /* line 259, ../scss/demo.scss */
  /* line 228, ../sass/_custom.scss */
  60% {
    opacity: 1;
    transform: translateY(-20px);
  }

  /* line 264, ../scss/demo.scss */
  /* line 230, ../sass/_custom.scss */
  80% {
    transform: translateY(10px);
  }

  /* line 268, ../scss/demo.scss */
  /* line 232, ../sass/_custom.scss */
  100% {
    transform: translateY(0);
  }
}

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */
/* Increase the body font size on small devices */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000316}}
html {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000321}}
#header .background {
  background: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000323}}
.region-sidebar-first .region-inner {
  margin: 0 0.5em 0 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000326}}
.region-sidebar-second .region-inner {
  margin: 0 1em 0 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000329}}
.region-sidebar-second .block {
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000332}}
#content-column {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000334}}
#content-column .content-inner {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000340}}
.region-sidebar-first, .region-sidebar-second {
  margin-top: 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000342}}
.sidebar .region-inner .block {
  padding: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000344}}
#main-content {
  margin-left: .5em;
  margin-right: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000348}}
.region-sidebar-first .region-inner {
  margin-left: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000351}}
.region-sidebar-second .region-inner {
  margin-right: .5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000355}}
footer {
  padding: 1em 0;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/ben\/Sites\/FTW\/ftw-site\/sites\/all\/themes\/ftw\/sass\/responsive\.tablet\.portrait\.scss}line{font-family:\0000360}}
#menu-bar #block-superfish-1 {
  font-size: 1.2em;
}
