
// _base.scss imports _custom.scss and other partials.
@import "base";

/*
 *   Important Information about this CSS File
 *
 * - Do not delete or rename this file, if you do not use it leave it blank (delete 
 *   everything) and the file will be skipped when you enable Production Mode in
 *   the Global theme settings.
 *
 * - Read the _README file in this directory, it contains useful help and other information.
 */


.no-sidebars{
	.container{
		text-align: center;
		#header{
			text-align: left;
		}
		#columns{
	    	display: inline-block;
	    	text-align: left;
	    	margin: 0 auto;
		}	
	}
}

#menu-bar #block-superfish-1 {
    font-size: 1.2em;}